@{
    ViewBag.Title = "Contact";
}

<address>
    Đại học Lạc Hồng<br />
    cơ sở 1, p.Bửu Long<br />
    <abbr title="Phone">P:</abbr>
    070.862.6775
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Shenlong2098@gmail.com">Shenlong2098@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Shenlong2098@gmail.com">Shenlong2098@gmail.com</a>
</address>